@model IEnumerable<NET104_ASM.Models.NguoiDung>

@{
    ViewData["Title"] = "DsNguoiDung";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>DsNguoiDung</h1>

<p>
    <a asp-action="ThemNguoiDung">Create New</a>
</p>
<p>@TempData["Message"]</p>

<table class="table">
    <thead>
        <tr class="table-warning">
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatKhau)
            </th>
            <th></th>
        </t>
    </thead>
    <tbody>
        @{
            int i = 0;
            string @cls = "table-success";
        }
        @foreach (var item in Model)
        {
            i = i + 1;
            cls = "table-success";
            if (i % 2 == 0)
            {
                cls = "table-primary";
            }
            <tr class="@cls">
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhau)
            </td>
            <td>
                    <a asp-action="SuaNguoiDung" asp-route-id="@item.MaNguoiDung">Edit</a> |
                    <a asp-action="ChiTietNguoiDung" asp-route-id="@item.MaNguoiDung">Details</a> |
                    <a asp-action="XoaNguoiDung" asp-route-id="@item.MaNguoiDung">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
